@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-variant: small-caps;
    background-color: #49796a;
    color: white;
}

body {
    font-family: "Fira Sans";
    background-color: #fffcfc;
}

.legend {
    font-size: 1.4rem;
}

.tooltip {
    text-align: left;
    padding: 10px;
    background-color: #6b747c;
    color: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    word-wrap: revert;
}

#slider-time {
    position: relative;
    left: 50px;
}

.axis text,
.slider text {
    font-size: 15px;
    font-family: "Fira Sans";
}

.explanatory_text {
    text-align: center;
    font-size: 1.25rem;
    padding: 5px 50px 15px;
}

.healthline4 {
    margin: auto;
}

.customNav {
    background-color: #414f4b;
    margin-top: -10px;
}

#slider-time {
    text-align: center;
}

.dropdown_content {
    padding: 8px 12px;
    background-color: #414f4b;
    color: white;
    border-radius: 3px;
    margin: 5px;
}