@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-variant: small-caps;
    background-color: #49796a;
    color: white;

}

h2 {
    padding-top: 10px;
}

body {
    font-family: "Fira Sans";
    background-color: #fffcfc;
}

.legend {
    font-size: 1.4rem;
}

.tooltip {
    text-align: left;
    font-family: "Fira Sans";
    padding: 10px;
    background-color: #414f4b;
    color: white;
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
    word-wrap: revert;
}

#slider-time {
    position: relative;
    left: 50px;
}

.axis text,
.slider text {
    font-size: 15px;
    font-family: "Fira Sans";
}

.explanatory_text_health{
    text-align: center;
    font-size: 1.2rem;
    padding: 5px 50px 15px;
}

.mpm {
    font-size: 1rem;
}

.source {
    float: right;
    font-size: 1.2rem;
}

.explanatory_text_smoking {
    padding: 10px 0 0 24px;
}

.explanatory_text_home {
    padding-top: 10px;
}

.healthline4 {
    margin: auto;
}

.customNav {
    background-color: #414f4b;
    margin-top: -10px;
}

#slider-time {
    text-align: center;
}

.dropdown_content {
    padding: 8px 12px;
    background-color: #414f4b;
    color: white;
    border-radius: 3px;
    margin: 5px 5px 20px;
}